node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Custom script for dev environment
emulator.bat

# macOS
.DS_Store

package-lock.json

.env

/api/api.ts